img {
  display: block;
  margin: 0 auto;
  max-width: 800px;
  height: auto;
}

p {
    text-align: center;
}

header {
    text-align: center;
    font-size: large;
    font-weight: 550;
}

#cont {
    display: block;
    margin: auto;
}
